<body>
 
    
  <style>
    .my-pagination /deep/ .ngx-pagination .current {
      background: rgb(16, 181, 57);
    }
  </style>
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
      <mat-nav-list style="width:200px">
          
          <img
          src="https://static.vecteezy.com/system/resources/previews/004/716/341/original/agricultural-lender-gradient-icon-for-dark-theme-agricultural-loan-officer-expert-helping-farmers-get-credits-thin-line-color-symbol-modern-style-pictogram-isolated-outline-drawing-vector.jpg"
          class="img-fluid rounded-circle"
          alt=""
          
        />
       
        <div class="txt">
          <p style="color:#125926e6;"><strong> AgricultureOfficer</strong></p>
           </div>
          
         
        <a mat-list-item style="height: 70px;"><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
          Dashboard</a>
          <a mat-list-item routerLink="/viewrequest" style="height: 70px;"><mat-icon>help</mat-icon>Requests</a>
          <a mat-list-item routerLink="/viewloan" style="height: 70px;"><mat-icon>monetization_on</mat-icon>Loan_Details</a>
          <a mat-list-item routerLink="/viewrelief" style="height: 70px;"><mat-icon>card_giftcard</mat-icon>Relief fund_Details</a>
          <a mat-list-item (click)='logout($event)' style="height: 70px;"><mat-icon>logout</mat-icon>Logout</a>
          
          
      </mat-nav-list>

</mat-sidenav>
<mat-sidenav-content>
<br>


<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="form-group">
    <input [(ngModel)]='email' (input)="Search()"class="form-control" placeholder="Search...">
    <div class="input-group-append">
      <span class="form-group">
        <i class="fa fa-search" aria-hidden="true"></i>
      </span>
    </div>
  </div>
</div>

<div class="row mt-2 p-3  ">
  <div class="col-3"></div>
  <div class="col-lg-10">
    <div class="txt1">
    <table *ngIf = "subscribekArray?.length > 0; else noSubscribe" class="table table-dark table-striped table-hover">
      <thead class="thead inverse">
        <tr>
          <th>ID</th>
          <th>Farmer's Email</th>
          <th>Reason</th>
          <th>Amount</th>
          <th>Contact</th>
          <th>Status</th>
          <th>Delete</th> 
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let sub of subscribekArray | paginate:{ itemsPerPage:5,currentPage:p}">
          
          <td>{{sub.id}}</td>
          <td>{{sub.email}}</td> 
          
          <td>{{sub.reason}}</td>
          <td>{{sub.amount}}</td>
          <td>{{sub.mobilenumber}}</td>
          
          <td>
          
          <div *ngIf="sub.status=='null'">
                  
            <button class="btn"  (click)="success(sub.id);">Accept</button>
            <button class="btn" style="background-color:red " (click)="fail(sub.id);">Reject</button>
            

          </div>
          <div *ngIf="sub.status!== 'null'">
              
          
            {{sub.status}}
          
          </div>
        </td>
          <td><mat-icon (click)="deleteData(sub.id)" style='font-size:20px;color:rgb(252, 35, 35)' >delete</mat-icon></td>
          
          
        </tr>
      
      </tbody>
    </table>
  </div>
  </div>
</div>
<ng-template #noSubscribe>
  <hr />
  <h3>There are no Requests</h3>
</ng-template>


<div class="" >
<pagination-controls class="pagination float-right my-pagination" maxSize="2" (pageChange)="p = $event"></pagination-controls>
</div>









</mat-sidenav-content>
  
</mat-sidenav-container>



</body>
