<ng-container >
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                           <th>auction_id</th>
                           <th>bid amount</th>
                            <th>winner</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of winner; let i = index">
                            <td>{{i+1}}</td>
                           
                            
                
                           
                            <td >{{item.auction_id}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.name}}</td>
                           
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>





