<body class="page_container">
 

  <mat-sidenav-container class="example-container">
      <mat-sidenav mode="side" opened>
          <mat-nav-list style="width:200px">
              
              <img
              src="https://cdn.iconscout.com/icon/free/png-256/farmer-2204210-1838555.png"
              class="img-fluid rounded-circle"
              alt=""
              
            />
            <div class="txt">
           <p style="color:whitesmoke;"><strong> Farmer</strong></p>
            </div>
           
            <a mat-list-item routerLink="/producttable" style="height: 50px;"><mat-icon>business_center</mat-icon>Products</a>
            <a mat-list-item routerLink="/farmtable" style="height: 50px;"><mat-icon>create</mat-icon>Farm</a>
            <a mat-list-item routerLink="/auctionf" style="height: 50px;"><mat-icon>how_to_vote</mat-icon>Auctions</a>
            
            <a mat-list-item routerLink="/requestable" style="height: 50px;"><mat-icon>help</mat-icon>Requests</a>
            <a mat-list-item routerLink="/loantable" style="height: 50px;"><mat-icon>monetization_on</mat-icon>Loan_Details</a>
            <a mat-list-item routerLink="/relieftable" style="height: 50px;"><mat-icon>card_giftcard</mat-icon>Relief fund_Details</a>
            <a mat-list-item routerLink="/viewbid"style="height: 50px;"><mat-icon>business_center</mat-icon>Bid_Result</a>
            <a mat-list-item routerLink="/complaintable" style="height: 50px;"><mat-icon>create</mat-icon>Complains</a>
            
              
             
          </mat-nav-list>
 
  </mat-sidenav>
  <mat-sidenav-content>

    
    
        <div class="card-body p-5">
         

    <form #registrationForm="ngForm" (ngSubmit)="submitSignup()">
      
      
      <label class="col-sm-2">
        Officer
      </label>      
            <div class="col-sm-10">
              <select name ="OfficerID" (change)="ChangeDepartment($event)" class="form-control" [(ngModel)]="form.officer_id">
                
  
    <option [value]="book.id" *ngFor="let book of subscribekArray">
      <div *ngIf="book.role== 'agriculturalOfficer'">
      {{book.name}}
      </div>
    </option>
              </select>
            </div>





      <div class="row mb-3">
          <label for="inputEmail3" class="col-sm-3 col-form-label">Problem</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" name="problem" [(ngModel)]="form.problem" required>
          </div>
        </div>
        
        <div class="row mb-3">
          <label for="inputEmail3" class="col-sm-3 col-form-label">Doubt</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" name="doubt" [(ngModel)]="form.doubt" required>
          </div>
        </div>
        
        
       
 
       





        <div class="row mb-3">
          <label for="inputPassword3" class="col-sm-3 col-form-label">Date</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" id="inputPassword3" name="date" [(ngModel)]="form.date"  required>
          </div>
        </div>
       
        <div class="d-flex justify-content-center">
          <button type="submit"
            class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Request</button>
        </div>
    
        
            
            
        
    </form>
    
              
</div>


             
           





  </mat-sidenav-content>
      
  </mat-sidenav-container>
  
  

  </body>
  
  

