<section class="about_section">
    <div class="container-fluid">
        <div class="row">
            <h1 class="abouttext2">About Us</h1>
            <div class="col-lg-6">
                
                   
                    <img  class="image" style="height:58vh;" src="https://img.krishijagran.com/media/27938/man.png">
                </div> 
                <div class="col-lg-6 p-lg-5 my-6">
                    <br>
                        
                        
               
                    
                    
                        <p class="abouttext"><br>
                            We assembled our name on giving ages of families healthy,
 incredible tasting vegetables, fruits,cereals and yummy yams. Be that as it may,
 the present ‘GreenAgri’ Products is a lot more.We are the best supporters to farmers in farming.We arrange relief fund, loan services and solving doubts in farming.
 we have facilitate to contact agricultural officer easyway. Farmers can put their products in auction.
 You can either throw your money at manipulative middlemen and large corporations, 
  or support the honest, hardworking farmers. By buying from the farmers, 
  you are promoting sustainable growth and healthy and organic cultivation 
  practices. More power to the farmer and to you!

</p>
                   
                        
</div> 
<div class="col-lg-6 p-lg-5 my-6">
    <p class="abouttext"><br>
        The supermarket is often way more expensive than it should be and 
        your local market just doesn’t live up to the quality you need.
        Products in both of these places often reach you after weeks and 
        months of harvest, in a condition very different from their original 
        fresh form. So, what’s the alternative? Wouldn’t it be amazing if 
        you could just skip all of the middlemen and buy directly from the farmer?
        
        The community of farmers and their consumers is a beautiful one 
        and to make it more close-knit, along with ensuring that you only 
        consume healthy and fresh products,  you can bid bundle of products, take the first step and start 
        buying from the farmers, directly via ‘GreenAgri’. <br><br>
    </p>
    </div>
    <div class="col-lg-6">
<img  class="image" src="https://us.123rf.com/450wm/lakshmiprasad/lakshmiprasad2012/lakshmiprasad201200060/161137218-indian-farmer-talking-on-mobile-phone-while-busy-looking-into-laptop-near-the-agriculture-farmland-c.jpg?ver=6">

</div>

 
                         
                    </div>
                </div>
            
        
    
</section>

