@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

.about_section{
   background-color: whitesmoke;
    background-size:cover ;
    background-repeat:no-repeat ;
    background-position: center center;
    padding: 2rem 2;
    height: 70vh;
}
.about_section p{
    color:black;
    
}
.about_section button{

    background: #29f700;
    width: 15rem;
    height: 3rem;
    border-radius: 30px;
    margin-right:10px;
}
.about_section button:hover{
    background: green;

}
.image{
    height: 50vh;
    width: 580px;
}
.abouttext{
    margin-bottom: 10rem;
    font-style: italic;
    
    font-size: 18px;
  }
.abouttext2{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1rem;
    font-size: 30px;
    font-weight: 700;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
font-style: italic;
text-align: center;
}