<section class="feature_section">
  <div class="container">
      <div class="row">
          <div class="col-6 col-lg-3 mb-5">
              <div class="card features-box ">
                  <div class="text-center">
                      <div class="features-icon-border">
                          <div class="features-icon">
                              <img  class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpC5-_6rmoDd3yD7dwaUKmB_zuECcwItip2Q&usqp=CAU" style="width:8vw">
                          </div>

                      </div>
                      <div class="features-text">
                          <h3>Auctions & Bids</h3>
                      </div>
                  </div>
          </div>
          </div>

          <div class="col-6 col-lg-3 mb-5">
              <div class="card features-box ">
                  <div class="text-center">
                      <div class="features-icon-border">
                          <div class="features-icon">
                              <img  class="image" src="https://cdn2.vectorstock.com/i/1000x1000/38/26/vegetables-on-shopping-cart-grocery-logo-icon-vector-28823826.jpg" style="width: 10vw;">
                          </div>

                      </div>
                      <div class="features-text">
                          <h3>Buy and Sell</h3>
                      </div>
                  </div>
          </div>

          </div>

          <div class="col-6 col-lg-3 mb-5">
              <div class="card features-box ">
                  <div class="text-center">
                      <div class="features-icon-border">
                          <div class="features-icon">
                              <img  class="image" src="https://static.vecteezy.com/system/resources/previews/004/716/341/original/agricultural-lender-gradient-icon-for-dark-theme-agricultural-loan-officer-expert-helping-farmers-get-credits-thin-line-color-symbol-modern-style-pictogram-isolated-outline-drawing-vector.jpg" style="width:8vw;">
                          </div>
                      </div>
                      <div class="features-text">
                          <h3>Loans</h3>
                      </div>
                  </div>
          </div>

          </div>

          <div class="col-6 col-lg-3 mb-5">
              <div class="card features-box ">
                  <div class="text-center">
                      <div class="features-icon-border">
                          <div class="features-icon">
                              <img  class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSO1iRZFFmUR4uRmrihH3fxdcLW8Ip-RJLDDGyKMdfxiw&s" style="width:8vw;">
                          </div>
                      </div>
                      <div class="features-text">
                          <h3>Relief Funds</h3>
                      </div>
                  </div>
          </div>

          </div>


      </div>
  </div>
</section>